<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg.png", :alt => "Profile Image" %>
	</div>
	
	<div id="content">
		<h1>The cute dog </h1>
		<p>There's something undeniably heartwarming about the presence of a cute dog. With its fluffy fur and endearing eyes, a cute dog has an innate ability to bring joy and warmth to any environment. Whether it's eagerly wagging its tail, playfully chasing after a ball, or simply curling up beside you for a cuddle, a cute dog's charm is irresistible. Its loyal and affectionate nature creates an instant bond with those around it, offering unwavering companionship and unconditional love. From its playful antics to its gentle demeanor, a cute dog has a remarkable way of brightening even the gloomiest of days, reminding us of the simple pleasures found in the companionship of our furry friends.





        </p>

	</div>

</div>